:root {
  --primary-color: #d87d4a;
  --primary-light-color: #fbaf85;
  --primary-black-color: #101010;
  --black-color: #000000;
  --light-gray-color: #f1f1f1;
  --primary--white-color: #ffffff;
  --secondary--white-color: #f4f4f4;
  --main-font-family: "Manrope", Arial, sans-serif;
}
